<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
        <img src="https://www.lnmiit.ac.in/images/logo.png" width="260" height="100" alt=""><br><br>
        <h1 class="cover-heading" style="color: azure;">LNMIIT COLLEGE MANAGEMENT SYSTEM</h1>
            <a href="/users/signin" class="btn btn-lg btn-success">Sign in</a>
            <a href="/users/signup" class="btn btn-lg btn-secondary">Create an account</a>
    </main>

</div>